option_settings:
  aws:elasticbeanstalk:container:nodejs:

    ProxyServer: nginx            # Use Nginx as a proxy server for Node.js
 

container_commands:
container_commands:
  01_install_dependencies:
    command: "npm install"
    leader_only: true  # Ensures that dependencies are installed only once

  02_build_nextjs:
    command: "npm run build"
    leader_only: true  # Ensures that the build is done only once

  03_start_nextjs:
    command: "npm run start"
