option_settings:
  aws:elasticbeanstalk:container:nodejs:
  
    ProxyServer: nginx            # Use Nginx as a proxy server for Node.js
 

container_commands:
  01_install_dependencies:
    command: "npm install"  # Install all dependencies
  02_build_nextjs:
    command: "npm run build"  # Build the Next.js app
